GOOGLE_MAPS_API_KEY=
NOMINATIM_BASE_URL=
NOMINATIM_TIMEOUT_MS=2000
NOMINATIM_GEOCODE_CACHE_TTL_MS=3600000
NOMINATIM_REVERSE_CACHE_TTL_MS=86400000
NOMINATIM_DEFAULT_LIMIT=5
NOMINATIM_ENABLE_FALLBACK=false
NOMINATIM_FALLBACK_BASE_URL=
NOMINATIM_USER_AGENT=perbug-geocoder/1.0
