PERBUG_APPSTORE_URL=
PERBUG_PLAYSTORE_URL=
PERBUG_DOCS_GITHUB_URL=
PERBUG_SUPPORT_EMAIL=support@example.com
PERBUG_SITE_URL=https://example.com
PERBUG_ANALYTICS_ENABLED=false
PERBUG_ANALYTICS_PROVIDER=
