PERBUG_APPSTORE_URL=
PERBUG_PLAYSTORE_URL=
PERBUG_DOCS_GITHUB_URL=
PERBUG_SUPPORT_EMAIL=perbugtoken@gmail.com
PERBUG_SITE_URL=https://perbug.dev
PERBUG_ANALYTICS_ENABLED=false
PERBUG_ANALYTICS_PROVIDER=
PUBLIC_PERBUG_API_BASE_URL=http://localhost:8080
PUBLIC_SOLANA_CLUSTER=devnet
PUBLIC_PERBUG_MINT_ADDRESS=So11111111111111111111111111111111111111112
PUBLIC_PERBUG_EXPLORER_BASE_URL=https://explorer.solana.com
PUBLIC_PERBUG_TIPPING_ENABLED=true
PUBLIC_PERBUG_REWARDS_ENABLED=true
